<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitMQSettings" type="Brokers.DAL.Configurations.RabbitMQSettings, Brokers.DAL" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <rabbitMQSettings queueName="messages" automaticRecoveryEnabled="true" continuationTimeout="00:00:20" dispatchConsumersAsync="false" handshakeContinuationTimeout="00:00:10" hostName="localhost" networkRecoveryInterval="00:00:05" password="guest" port="-1" requestedChannelMax="0" requestedConnectionTimeout="30000" requestedFrameMax="0" requestedHeartbeat="0" socketReadTimeout="30000" topologyRecoveryEnabled="true" useBackgroundThreadsForIO="false" userName="guest" virtualHost="/" />
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>